.blog-content h1 {
  font-size: clamp(3rem, 6vw, 5.5rem);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content h2 {
  font-size: clamp(2.2rem, 5vw, 3.6rem);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #000;
}

.blog-content h3 {
  font-size: clamp(2rem, 3vw, 2.2rem);
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #000;
}

.blog-content h4 {
  font-size: clamp(1.8rem, 3vw, 2rem);
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #000;
}

.blog-content strong {
  font-size: 1.7rem;
  font-weight: 600;
  color: #000;
}

.blog-content p,
.blog-content a,
.blog-content span {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
  color: var(--color-foreground);
}

.blog-content img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 0.5rem;
}

.blog-content a {
  color: #2563eb;
  text-decoration: underline;
}

.blog-content a:hover {
  color: #1d4ed8;
}
